<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.paladium">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Paladium"
        tools:targetApi="31"
        android:hardwareAccelerated="true">
        <!-- activiti para el escaneo de zxin -->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <activity
            android:name=".Vista.Activities.ProductDescription"
            android:exported="false" />
        <!-- android:windowSoftInputMode="stateUnchanged|adjustPan" -->
        <!-- https://developer.android.com/guide/topics/manifest/activity-element.html#wsoft -->
        <!-- https://stackoverflow.com/questions/25934141/android-keyboard-compresses-my-view -->
        <activity
            android:name=".Vista.Activities.ProductCreation"
            android:exported="false"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".Vista.Activities.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateUnchanged|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <!-- provider agregado para guardar una foto en el dispositivo tomada por una camara-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.paladium.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any"/>

</manifest>